/* main */
body {
  background-color: #3a414f;
  background-color: #3a414f;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23605f61' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  color: #fff;
}

.color-white {
  color: #fff;
}

/* cards */
.card-bg {
  background: rgba( 255, 255, 255, 0.05 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;

  align-items: center;

  margin-right: 2em;
  margin-bottom: 2em;
}

.card-img-custom {
  width: 75%;
  margin-top: 1em;
}

.card-link {
  color: #fff;
  text-decoration: none;
}

.card-link:hover {
  color: #E5CE96;
}

/* footer */
.footer-text {
  color: #fff;

  margin: 0;
}

footer {
  margin:0;
}

.footer {
  padding-top: 0.75em;

  background: #495263;
  height: 5vh;
  margin-top: 5em;
}

.footer-link{
  color: #E5CE96;
  text-decoration: none;
}

.footer-link:hover{
  color: #E5CE96;
  text-decoration: underline;
}

/* main page */

.glass-bg {
  background: rgba( 255, 255, 255, 0.2 );
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border-radius: 10px;

  border: 1px solid rgba( 255, 255, 255, 0.18 );

  box-shadow: 0 1px 4px 0 rgba( 31, 38, 135, 0.37 );
}

.main-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba( 255, 255, 255, 0.2 );
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a414f;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}